<mat-sidenav-container>

  <mat-sidenav mode="side" opened>

    <div class="logo">
      <img src="logo.png" alt="KitchenCost">
      <span>KitchenCost</span>
    </div>

    <mat-divider/>

    <mat-nav-list>

      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon fontSet="material-symbols-outlined">dashboard</mat-icon>
        <span>Dashboard</span>
      </a>

      <a mat-list-item routerLink="/ingredients" routerLinkActive="active">
        <mat-icon fontSet="material-symbols-outlined">inventory</mat-icon>
        <span>Ingredients</span>
      </a>

      <a mat-list-item routerLink="/recipes" routerLinkActive="active">
        <mat-icon fontSet="material-symbols-outlined">menu_book</mat-icon>
        <span>Recipes</span>
      </a>

      <a mat-list-item routerLink="/menu-items" routerLinkActive="active">
        <mat-icon fontSet="material-symbols-outlined">restaurant</mat-icon>
        <span>Menu Items</span>
      </a>

      <a mat-list-item routerLink="/settings" routerLinkActive="active">
        <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
        <span>Settings</span>
      </a>

    </mat-nav-list>

    <button mat-button class="logout" (click)="logout()">
      <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>
      Logout
    </button>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>

      <span>{{ pageTitle() }}</span>

      <span class="spacer"></span>

      @if (user(); as user) {

        @if (user.restaurantName) {
          <span class="restaurant">{{ user.restaurantName }}</span>
        }

        <span>{{ user.username }}</span>

        <mat-chip>{{ user.role }}</mat-chip>

      }

    </mat-toolbar>

    <main class="content">
      <router-outlet/>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
